<div class="col-md-8 mx-auto my-2 p-3">
    <table class="table border table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col" rowspan="2" class="align-middle">Mã khoa</th>
                <th scope="col" rowspan="2" class="align-middle">Tên khoa</th>
                <th scope="col" colspan="5" class="align-middle text-center">Tổng sinh viên</th>
                {{!-- <th scope="col" rowspan="2"></th> --}}
            </tr>
            <tr>
                <th>2016</th>
                <th>2017</th>
                <th>2018</th>
                <th>2019</th>
                <th>Tất cả</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.list}}
            <tr>
                <th scope="row">{{this.index}}</th>
                <td class="faculty-name">{{this.name}}</td>
                <td class="faculty-total">{{this.total.t2016}}</td>
                <td class="faculty-total">{{this.total.t2017}}</td>
                <td class="faculty-total">{{this.total.t2018}}</td>
                <td class="faculty-total">{{this.total.t2019}}</td>
                <td class="faculty-total" scope="row">{{this.total.t}}</td>

                <td class="text-right p-1" hidden>
                    <button class="btn-delete btn btn-danger" id="{{this.index}}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr class="table-success">
                <th colspan="2" class="text-right">Tổng: </th>
                <th>{{this.totals.t2016}}</th>
                <th>{{this.totals.t2017}}</th>
                <th>{{this.totals.t2018}}</th>
                <th>{{this.totals.t2019}}</th>
                <th>{{this.totalStudent}}</th>
                {{!-- <td></td> --}}
            </tr>
        </tfoot>
    </table>

    <div class="alert alert-danger" role="alert" id="alert-format" hidden>
        Tên khoa không được để trống
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger" role="alert" id="alert-dup" hidden>
        Tên khoa bị trùng
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger my-3" role="alert" id="alert-submit" hidden>
        Có lỗi xảy ra. Vui lòng kiểm tra lại thông tin
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="div-add" class="text-center">
        <button type="button" class="btn btn-primary w-25" id="btn-add">Thêm khoa mới</button>
    </div>
    <div id="div-save" class="text-center" hidden>
        <button type="button" class="btn btn-success w-25" id="btn-save">Save</button>
        <button type="button" class="btn btn-danger" id="btn-cancel">Cancel</button>
    </div>
</div>